body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

  .first {
    width: 40%;
    height: 100vh;
    padding-left: 3.5rem;
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #3f51b5;

    h1 {
      font-size: 40px;
      font-family: "Ubuntu", sans-serif;
      color: whitesmoke;
    }

    h3 {
      font-family: "Ubuntu", sans-serif;
      text-align: justify;
      color: whitesmoke;
    }

    .flow {
      background: white;
      height: 4px;
      width: 12rem;
      margin-bottom: 4rem;
    }
  }

  .second {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 5rem;
      margin-bottom: 4rem;
    }

    form {
      width: 22rem;
      display: flex;
      flex-direction: column;

      h1 {
        font-family: "Ubuntu", sans-serif;
      }

      mat-label {
        font-family: "Ubuntu", sans-serif;
      }

      input {
        font-family: "Ubuntu", sans-serif;
      }

      h4 {
        margin-top: 2rem;
        text-align: end;
        font-family: "Ubuntu", sans-serif;
      }

      button {
        margin-bottom: 4rem;
        font-family: "Ubuntu", sans-serif;
      }
    }
  }
}
