<mat-toolbar color="primary">
  <span>Tesis</span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Inicio">
    <app-home></app-home>
  </mat-tab>
  <mat-tab label="Usuarios">
    <app-usuarios></app-usuarios>
  </mat-tab>
  <mat-tab label="Clientes">
    <app-clientes></app-clientes>
  </mat-tab>
  <mat-tab label="Ventas">
    <app-ventas></app-ventas>
  </mat-tab>
  <mat-tab label="Predicción">
    <app-prediccion></app-prediccion>
  </mat-tab>
  <mat-tab label="Reportes">
    <app-reportes></app-reportes>
  </mat-tab>
  <mat-tab label="Ordenes de compra">
    <app-ordencompra></app-ordencompra>
  </mat-tab>
  <mat-tab label="Inventario">
    <app-inventario></app-inventario>
  </mat-tab>
</mat-tab-group>
