<div class="container">
  <div class="content">
    <div class="botones">
      <h1 class="titulo">PREDICCIONES</h1>
      <button (click)="exportexcel()" class="btn-color" mat-raised-button >
        Exportar Datos
      </button>
    </div>
    <div class="filter">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input
          matInput
          (keyup)="applyFilter()"
          [(ngModel)]="nameFilter"
          placeholder="Filtrar"
          #input
        />
      </mat-form-field>
    </div>

    <table
      id="excel-prediccion"
      class="mt-12"
      mat-table
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="ID_RESULTADO_MODELO">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ID_RESULTADO_MODELO }}
        </td>
      </ng-container>

      <ng-container matColumnDef="NOMBRE">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.NOMBRE }}</td>
      </ng-container>

      <ng-container matColumnDef="PRECISION_MODELO">
        <th mat-header-cell *matHeaderCellDef>Precisión</th>
        <td mat-cell *matCellDef="let element">
          {{ element.PRECISION_MODELO }}
        </td>
      </ng-container>

      <ng-container matColumnDef="PREDICCION">
        <th mat-header-cell *matHeaderCellDef>Predicción</th>
        <td mat-cell *matCellDef="let element">{{ element.PREDICCION }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <canvas id="myChart" class="canvas1"></canvas>
 
</div>
