.container {
  width: 100%;
  height: auto;
}
.content {
  margin: 3rem 4rem;
}
.botones {
  display: flex;
  justify-content: space-between;
}
table {
  margin-top: 3rem;
  width: 100%;
}

.canvas1 {
  margin-top: 2rem;
  font-family: "Ubuntu", sans-serif !important;
}

th,
td,
button,
mat-paginator {
  font-family: "Ubuntu", sans-serif;
}

::ng-deep .mat-paginator-page-size {
  display: none !important;
}

::ng-deep .mat-paginator-range-label {
  display: none !important;
}
