<div class="container">
  <section>
    <div class="fix">
      <h1>{{ ventas }}</h1>
      <h4>Ventas del mes</h4>
    </div>
    <div class="fix">
      <h1>{{ compras }}</h1>
      <h4>Compras del mes</h4>
    </div>
    <div class="fix">
      <h1>S/ {{ ganancia }}</h1>
      <h4>Ingreso del mes</h4>
    </div>
  </section>

  <div class="section2">
    <h1>Reporte de ingresos</h1>
    <canvas id="myChart" class="canvas1"></canvas>
  </div>

  <div class="section2">
    <h1>Reportes de ventas</h1>
    <canvas id="myChart2" class="canvas2"></canvas>
    <!-- <canvas id="myChart3" class="canvas2"></canvas> -->
  </div>
</div>
