<div class="formulario">
    <form [formGroup]="editForm"  (ngSubmit)="editUser($event)">
      <mat-card class="formu">
        <mat-card-header>
          <mat-card-title>Editar Usuario</mat-card-title>
        </mat-card-header>
        <mat-card-content class="Formcontent">
         
              <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input placeholder="Usuario" formControlName="username" matInput type="text">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input placeholder="password" formControlName="password" matInput type="text">
              </mat-form-field>
          
          <!-- <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field> -->
          
              <mat-form-field  appearance="fill">
                <mat-label>Nombre</mat-label>
                <input placeholder="Nombre" formControlName="nombre" matInput type="text">
              </mat-form-field>
          
        
              <mat-form-field  appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input placeholder="Apellido" formControlName="apellido" matInput type="text">
              </mat-form-field>
          
        
              <mat-form-field appearance="fill">
                <mat-label>Tipo de Usuario</mat-label>
                <input placeholder="Tipo de usuario" formControlName="userType" matInput type="text">
              </mat-form-field>
          
         
         
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="editForm.invalid" mat-raised-button type="submit">Guardar</button>
        </mat-card-actions>
      </mat-card>
      
    </form>
  </div>