<h1>Olvide mi contraseña</h1>
<form action="" [formGroup]="userForm" (ngSubmit)="resetPassword($event)">
    <div class="distribucion">
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Nombre de Usuario" formControlName="username"  required>
           
          </mat-form-field>
        <button
       
        mat-raised-button
        type="submit"
      >
      Restablecer mi contraseña
      </button>
    </div>
   
</form>